section.category{
    padding: 5rem 0;
    background: #fff;

    #left-tabs{
        outline: 1px solid rgb(190, 190, 190);
        border-radius: 5px;
        padding:  2rem 1rem;
        
        .nav-tabs{
            .navTitle{
                color: rgb(49, 49, 49);
                font-weight: 700;
                padding-left: var(--bs-nav-link-padding-x);
                padding-bottom: 1rem;
            }

            a {
                color: rgb(95, 95, 95);

                &.active{
                    color: rgb(49, 49, 49);
                    font-weight: 500;
                }
            }

            .height{
                height: 27rem;
                @media(max-width: 992px) {
                    height: 0;
                  }
            }
        }
    }
    @media (max-width: 768px) {
        padding: 3rem 0;
    }
}