section.category{
    padding: 5rem 0;
    background: #fff;

    #left-tabs{
        outline: 1px solid rgb(190, 190, 190);
        border-radius: 5px;
        padding:  2rem 1rem;
        
        .nav-tabs{
            .navTitle{
                color: rgb(49, 49, 49);
                font-weight: 700;
                padding-left: var(--bs-nav-link-padding-x);
                padding-bottom: 1rem;
            }

            a {
                color: rgb(95, 95, 95);

                &.active{
                    color: rgb(49, 49, 49);
                    font-weight: 500;
                }
            }
        }
        
        
        .categoryCardsWrapper{
            .topCategoryCard{
                margin-bottom: 1.5rem;
                img{
                    height: 20rem;
                }
            }

            .newsCardSmall{
                height: 20rem;

            .card-body {
                height: 10rem;
            }
        
            img{
                height: 10rem;
                object-fit: cover;
            }
            }


            .text-muted{
                font-size: 0.8rem;
            }
            
            a {
                text-decoration: none;
                color: inherit;
                &:hover{
                    color: rgb(90, 90, 90);
                }
            }
        }

        .list-group {
            height: 100%;
            justify-content: space-between;

            .text-muted{
                font-size: 0.8rem;
            }
            
            a {
                text-decoration: none;
                color: inherit;
                &:hover{
                    color: rgb(90, 90, 90);
                }
            }
    
        .moreText{
            font-size: 1.1rem;
            font-weight: 500;
    
            a {
                color: rgb(90, 90, 90);
                text-decoration: none;
    
                &:hover{
                    color: rgb(45, 45, 45);
                }
            }
            img{
                padding: 0 1rem;
            }
        }
        }
    }
}